<div class="category-container">
    <div class="category-slide" [style.height]="'calc( 100% - '+ (bottom + top) +')'">
        <ul>
            <ng-container *checks="let item of data">
                <li (click)="_activeSlide(item)" *ngIf="item.permission" [class.on]="item.active === 'on'">{{item.title}}</li>
            </ng-container>
        </ul>
    </div>
    <div class="category-main">
        <ng-container *ngIf="template">
            <ng-container *checks="let item of items">
                <ng-container *ngTemplateOutlet="template;context: {$implicit: item}"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
<ng-content></ng-content>